@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

body {
  font-family: system-ui, sans-serif !important;
}


.chart {
  background-color: white;
  color: black;
  padding: 10px 10px  10px 10px;
}

.chart figure {
  margin-top: 0 !important; 
  margin-bottom: 0 !important;
}

.chart h2 {
  color: black !important;
  font-size: 18px;
}

.chart h3 {
  color: black !important;
  font-weight: 400;
  font-size: 16px;
}

.chart .box-plot-chart {
  padding: 0px 10px  0px 10px;
}

.plot-d6a7b5-swatches {
  text-align: center;
  display: block;
  margin-top: 1em;
}

.diverging-box-plot-chart .plot-d6a7b5-swatches {
  text-align: left;
}

.box-plot-chart .plot-d6a7b5-figure {
  margin-top: -1.25em !important; 
}

.dot-chart svg {
  font-size: 16px !important;
}

.dot-chart svg [aria-label="fx-axis tick label"] {
  font-size: 24px !important;
}

span.source {
  font-size: 12px;
  color: grey;
}

.table-of-content a {
  margin-left: -7.5px;
}

.table-of-content a:hover {
  text-decoration: underline;
  cursor: pointer;
}
